@using EntityLayer;
@model PostGenreLocationUserModel;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h2>Post Add</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Add", "Post", FormMethod.Post, new { @class = "form-group", @enctype = "multipart/form-data" }))
        {
            @Html.Label("Creator NickName")
            <select class="form-control" name="UserId">
                @foreach (var item in Model.UserModel)
                {
                    <option value="@item.UserId">@item.NickName</option>
                }
            </select>
            <br />
            @Html.Label("Generate Date")
            @Html.TextBox("GenerateDate","",new { @class = "form-control",@type="date"})
            @Html.ValidationMessage("GenerateDate","",new{@class="text-danger"})
            <br />
            @Html.Label("Post ImgFile") 
            <input id="image_file" type="file" name="imgFiles" class="form-control" accept="image/*" onchange="changeContent()"/>
            @Html.ValidationMessage("imgFiles","",new{@class="text-danger"})
            <br /> 
            <div style="display:flex;justify-content:space-around;">
            <div style="border:1px dashed black;padding:5px;width:30%;padding:10px;">
                <img id="imageDisplay" src="https://flashresim.com/blog/wp-content/uploads/2019/03/resim-yukleme-sitesi-280x227.png" width="100%" height="250px" /><br>
                <label id="imageName"></label><br>
                <label id="imageSize"></label>
            </div>
                        <div style="border:1px dashed black;padding:5px;width:30%;padding:10px;">
                <img id="imageDisplay" src="https://flashresim.com/blog/wp-content/uploads/2019/03/resim-yukleme-sitesi-280x227.png" width="100%" height="250px" /><br>
                <label id="imageName"></label><br>
                <label id="imageSize"></label>
            </div>
                        <div style="border:1px dashed black;padding:5px;width:30%;padding:10px;">
                <img id="imageDisplay" src="https://flashresim.com/blog/wp-content/uploads/2019/03/resim-yukleme-sitesi-280x227.png" width="100%" height="250px" /><br>
                <label id="imageName"></label><br>
                <label id="imageSize"></label>
            </div>
            </div>
            <br />
            @Html.Label("Description")
            @Html.TextBox("Description","",new { @class = "form-control"})
            @Html.ValidationMessage("Description","",new{@class="text-danger"})
            <br />
            @Html.Label("Location Name")
            <select class="form-control" name="LocationId">
                @foreach (var item in Model.LocationModel)
                {
                    <option value="@item.LocationId">@item.LocationName</option>
                }
            </select>
            <br />
            @Html.Label("Genre Name")
            <select class="form-control" name="GenreId">
                @foreach (var item in Model.GenreModel)
                {
                    <option value="@item.GenreId">@item.GenreName</option>
                }
            </select>
            <br />
            @Html.Label("IsActive")
            <select class="form-control" name="IsActive">
                <option value="True">Aktif</option>
                <option value="False">Pasif</option>
            </select>
            <br />
            <input id="addBtn" class="form-control btn btn-primary" type="submit" value="Post Add" />
        }
    </div>
</div>

<!--File Upload -->
<script>

    function changeContent() {

        var file = document.getElementById('image_file').files[0];

        document.getElementById('imageDisplay').src = window.URL.createObjectURL(file);
        document.getElementById('imageName').innerHTML = file.name;
        var btn = document.getElementById('addBtn');
        var sizeLabel = document.getElementById('imageSize');

        if (file.size > 819200) {
            sizeLabel.innerHTML = "Cannot be more than 800 kilobytes";
            sizeLabel.style.color = "red";
            btn.disabled = true;
        } else {
            sizeLabel.innerHTML = returnFileSize(file.size);
            sizeLabel.style.color = "white";
            btn.disabled = false;
        }
    }

    //File Size
    function returnFileSize(number) {
        if (number < 1024) {
            return `${number} bytes`;
        } else if (number >= 1024 && number < 1048576) {
            return `${(number / 1024).toFixed(1)} KB`;
        } else if (number >= 1048576) {
            return `${(number / 1048576).toFixed(1)} MB`;
        }
    }
</script>