@using EntityLayer;
@using SocialMediaApp.PagedList;
@model List<Post>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //Pager and Search
    var pager = (Pager)ViewBag.pager;
    var searchText = ViewBag.searchText;
}
@section searchbar{
    <!-- Topbar Search -->
    <div class="search-field d-none d-md-block">
        <form asp-controller="Post" asp-action="PostList" class="d-flex align-items-center h-100">
            <div class="input-group">
                <input type="text" class="form-control bg-transparent border-0" name="searchText" value="@searchText" placeholder="Post search...">
                <button class="input-group-prepend bg-transparent">
                    <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </button>
            </div>
        </form>
    </div>
}

<div class="card">
    <div class="card-header">
        <h2>POST</h2>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Creator NickName</th>
                    <th>Type</th>
                    <th>Generate Date</th>
                    <th>Content</th>
                    <th>Content2</th>
                    <th>Content3</th>
                    <th>Description</th>
                    <th>IsActive</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Creator.NickName</td>
                        <td>@item.Genre.GenreName</td>
                        <td>@item.GenerateDate.ToString().Split(" ")[0]</td>
                        <td><img src="~/post_images/@item.PostContent" style="width:50px;height:40px;border-radius:5px;" /></td>
                        @if(item.PostContent2 != null)
                        {
                            <td><img src="~/post_images/@item.PostContent2" style="width:50px;height:40px;border-radius:5px;" /></td>
                        }
                        else
                        {
                            <td>No Photo</td>
                        }
                        @if(item.PostContent3 != null)
                        {
                            <td><img src="~/post_images/@item.PostContent3" style="width:50px;height:40px;border-radius:5px;" /></td>
                        }
                        else
                        {
                            <td>No Photo</td>
                        }
                        <td>@item.Description</td>
                        @if (item.IsActive)
                        {
                            <td>Aktif</td>
                        }
                        else
                        {
                            <td>Pasif</td>
                        }
                        <td>
                            <button type="button" class="btn btn-outline-danger  text-center" data-bs-whatever="@item.PostId" data-bs-toggle="modal" data-bs-target="#decisionPopup"><ion-icon name="trash-outline"></ion-icon></button>
                        </td>
                        <td><a href="/Post/Update/@item.PostId" type="button" class="btn btn-outline-primary p-2">Update</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div class="text-center d-flex justify-content-start p-2">
    <a href="/Post/Add" class="btn btn-success"><ion-icon name="add" style="font-size:30px"></ion-icon></a>
</div>
@*SAYFALAMA*@
<div id="Pager" class=" d-flex justify-content-center">
    <partial name="PartialCustomPagerView" model="@pager" />
</div>
</div>
<!-- Modal -->
@*#decisionPopup Model*@
<div class="modal fade" id="decisionPopup" tabindex="=-1" aria-labelledby="DeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="DeleteLabel">WARNİNG!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="delete-btn" href="" class="btn btn-success">Yes</a>
            </div>
        </div>
    </div>
</div>

@*Delete*@
<script>
    $(document).ready(function () {
        $('#decisionPopup').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var PostId = button.attr('data-bs-whatever');

            var a = document.querySelector("#delete-btn");
            a.href = "/Post/Delete/" + PostId;
        });
    });
</script>

