@using EntityLayer;
@model SavedCollectionSavedCollectionModel;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>Saved Collection Insert</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Add", "SavedCollection", FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.Label("Saved(User-Post)")
            <select class="form-control" name="SavedId">
                @foreach (var item in Model.SavedModel)
                {
                    <option value="@item.SavedId">@item.User.NickName - @item.Post.PostContent</option>
                }
            </select>
            <br />
            @Html.Label("Collection Name")
            <select class="form-control" name="CollectionId">
                @foreach (var item in Model.CollectionModel)
                {
                    <option value="@item.CollectionId">@item.CollectionName</option>
                }
            </select>
            <br />
            @Html.Label("IsActive")
            <select class="form-control" name="IsActive">
                <option value="True">Aktif</option>
                <option value="False">Pasif</option>
            </select>
            <br />
            <input class="form-control btn btn-primary" type="submit" value="Saved Collection Add" />
        }
    </div>
</div>