@using EntityLayer;
@model CommentPostUserCommentList;

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h2>Comment Add</h2>
    <br />
    @using (Html.BeginForm("Add", "Comment", FormMethod.Post, new { @class = "form-group" }))
    {

        @Html.Label("Comment Content")
        @Html.TextBoxFor(model=>model.CommentModel.CommentContent,new {@class = "form-control"})
        @Html.ValidationMessageFor(model=>model.CommentModel.CommentContent,"",new {@class = "text-danger"})
        <br />

        @Html.Label("Comment Time")
        @Html.TextBoxFor(model=>model.CommentModel.CommentTime,new { @class = "form-control" ,@type="datetime"})
        <br />

        @Html.Label("User")
        <select name="UserId" class="form-control">
            @foreach (var item in Model.UserModel)
            {
                <option value="@item.UserId">@item.NickName</option>
            }
        </select>
        <br />

        @Html.Label("Post")
        <select name="PostId" class="form-control">
            @foreach (var item in Model.PostModel)
            {
                <option value=" @item.PostId">@item.PostContent</option>
            }
        </select>
        <br />        
        
        @Html.Label("Parent Comment")
        <select name="ParentId" class="form-control">
            @foreach (var item in Model.CommentListModel)
            {
                <option value=" @item.CommentId">@item.CommentContent</option>
            }
        </select>
        <br />

        @Html.Label("IsActive")
        <select class="form-control" name="IsActive">
            <option value="True">Aktif</option>
            <option value="False">Pasif</option>
        </select>
        <br />
        <input class="form-control btn btn-primary" type="submit" value="Tag Add" />
    }
</div>