@using EntityLayer;
@model CommentPostUserCommentList;
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h2>Comment Update</h2>
    <br />
    @using (Html.BeginForm("Update", "Comment", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBox("CommentId",Model.CommentModel.CommentId,new { @class = "form-control" ,@type="hidden"})

        @Html.Label("Content")
        @Html.TextBox("CommentContent",Model.CommentModel.CommentContent,new { @class = "form-control"})
        @Html.ValidationMessage("CommentContent","",new{@class="text-danger"})
        <br />

        @Html.Label("Date")
        @Html.TextBoxFor(model=>model.CommentModel.CommentTime,new { @class = "form-control" ,@type="date"})
        <br />

        @Html.Label("Time")
        @Html.TextBoxFor(model=>model.CommentModel.CommentTime,new { @class = "form-control" ,@type="time"})
        <br />

        @Html.Label("Commentor")
        <select name="UserId" class="form-control">
            @foreach (var item in Model.UserModel)
            {
                <option value="@item.UserId">@item.NickName</option>
            }
        </select>
        <br />

        @Html.Label("Post")
        <select name="PostId" class="form-control">
            @foreach (var item in Model.PostModel)
            {
                <option value=" @item.PostId">@item.PostContent</option>
            }
        </select>
        <br />

        @Html.Label("Parent")
        <select name="ParentId" class="form-control">
            @foreach (var item in Model.CommentListModel)
            {
                <option value=" @item.CommentId">@item.CommentContent</option>
            }
        </select>
        <br />

        @Html.Label("IsActive")
        <select class="form-control" name="IsActive">
            <option value="True">Aktif</option>
            <option value="False">Pasif</option>
        </select>
        <br />
        <input class="form-control btn btn-primary" type="submit" value="Comment Update" />
    }
</div>