@using EntityLayer;
@model Admin;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h2>Admin Add</h2><br />
    @using (Html.BeginForm("Add", "Admin", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.Label("First Name")
        @Html.TextBoxFor(admin=>admin.AdminFirstName,new { @class = "form-control"})
        @Html.ValidationMessageFor(admin=>admin.AdminFirstName,"",new{@class="text-danger"})
        <br />
        @Html.Label("Last Name")
        @Html.TextBoxFor(admin=>admin.AdminLastName,new { @class = "form-control"})
        @Html.ValidationMessageFor(admin=>admin.AdminLastName,"",new{@class="text-danger"})
        <br />
        @Html.Label("Mail")
        @Html.TextBoxFor(admin=>admin.AdminMail,new { @class = "form-control", @type="mail"})
        @Html.ValidationMessageFor(admin=>admin.AdminMail,"",new{@class="text-danger"})
        <br />
        @Html.Label("Password")
        @Html.TextBoxFor(admin=>admin.AdminPassword,new { @class = "form-control"})
        @Html.ValidationMessageFor(admin=>admin.AdminPassword,"",new{@class="text-danger"})
        <br />
        @Html.Label("AdminType")
        @Html.TextBoxFor(admin=>admin.AdminType,new { @class = "form-control"})
        @Html.ValidationMessageFor(admin=>admin.AdminType,"",new{@class="text-danger"})
        <br />
        @Html.Label("IsActive")
        <select class="form-control" name="IsActive">
            <option value="True">Aktif</option>
            <option value="False">Pasif</option>
        </select>
        <br />
        <input class="form-control btn btn-primary" type="submit" value="Admin Add" />
    }
</div>

