@using EntityLayer;
@using System.Security.Claims;
@using SocialMediaApp.PagedList;
@model List<Admin>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //Pager and Search
    var pager = (Pager)ViewBag.pager;
    var searchText = ViewBag.searchText;
    //Login olduğunda gelecek profil.
    ClaimsPrincipal currentUser = this.User;
    var currentUserMail = currentUser.FindFirst(ClaimTypes.Email).Value;
}

@section searchbar{
    <!-- Topbar Search -->
    <div class="search-field d-none d-md-block">
        <form asp-controller="Admin" asp-action="AdminList" class="d-flex align-items-center h-100">
            <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                    <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" name="searchText" value="@searchText" placeholder="Admin Search">
            </div>
        </form>
    </div>
}

<div class="card">
    <div class="card-header">
        <h2>Admins</h2>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-head ">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mail</th>
                    <th>Password</th>
                    <th>AdminType</th>
                    <th>Img Url</th>
                    <th>IsActive</th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AdminFirstName</td>
                        <td>@item.AdminLastName</td>
                        <td>@item.AdminMail</td>
                        <td>*************</td>
                        <td>@item.AdminType</td>
                        <td>@item.imgUrl</td>
                        @if (item.IsActive)
                        {
                            <td>Aktif</td>
                        }
                        else
                        {
                            <td>Pasif</td>
                        }
                        <td>
                            <button type="button" class="btn btn-outline-danger  text-center" data-bs-whatever="@item.AdminId" data-bs-toggle="modal" data-bs-target="#decisionPopup"><ion-icon name="trash-outline"></ion-icon></button>
                        </td>
                        @if (item.AdminMail == currentUserMail)
                        {

                            <td><a href="/Admin/Update/@item.AdminId" type="button" class="btn btn-outline-primary p-2">Update</a></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@*ADD BUTTON*@
<div class="text-center d-flex justify-content-start p-2">
    <a href="/Admin/Add" class="btn btn-success"><ion-icon name="add" style="font-size:30px"></ion-icon></a>
</div>

@*SAYFALAMA*@
<div style="position:relative;">
    <div style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);">
        <partial name="PartialCustomPagerView" model="@pager" />
    </div>
</div>

<!-- Modal -->
@*#decisionPopup Model*@
<div class="modal fade" id="decisionPopup" tabindex="=-1" aria-labelledby="DeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="DeleteLabel">WARNING!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="delete-btn" href="" class="btn btn-success">Yes</a>
            </div>
        </div>
    </div>
</div>

@*Delete*@
<script>
    $(document).ready(function () {
        $('#decisionPopup').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var AdminId = button.attr('data-bs-whatever');

            var a = document.querySelector("#delete-btn");
            a.href = "/Admin/Delete/" + AdminId;
        });
    });
</script>
