@using EntityLayer;
@model Admin;

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>Admin Update</h2>
    </div>

    <div class="card-body">

        @using (Html.BeginForm("Update", "Admin", FormMethod.Post, new { @class = "form-group", @enctype = "multipart/form-data"  }))
        {
            @Html.TextBoxFor(admin=>admin.AdminId,new { @class = "form-control",@name="AdminId",@value="@Model.AdminId",@type="hidden"})
            @Html.Label("First Name")
            @Html.TextBoxFor(admin=>admin.AdminFirstName,new { @class = "form-control"})
            @Html.ValidationMessageFor(admin=>admin.AdminFirstName,"",new{@class="text-danger"})
            <br />
            @Html.Label("Last Name")
            @Html.TextBoxFor(admin=>admin.AdminLastName,new { @class = "form-control"})
            @Html.ValidationMessageFor(admin=>admin.AdminLastName,"",new{@class="text-danger"})
            <br />
            @Html.Label("Mail")
            @Html.TextBoxFor(admin=>admin.AdminMail,new { @class = "form-control", @type="mail"})
            @Html.ValidationMessageFor(admin=>admin.AdminMail,"",new{@class="text-danger"})
            <br />
            @Html.Label("Password")
            @Html.TextBoxFor(admin=>admin.AdminPassword,new { @class = "form-control"})
            @Html.ValidationMessageFor(admin=>admin.AdminPassword,"",new{@class="text-danger"})
            <br />
            @Html.Label("AdminType")
            @Html.TextBoxFor(admin=>admin.AdminType,new { @class = "form-control"})
            @Html.ValidationMessageFor(admin=>admin.AdminType,"",new{@class="text-danger"})
            <br />
            @Html.Label("Update Photo")
            <input id="image_file" type="file" name="imgFile" class="form-control" accept="image/*" onchange="changeContent();" />
            @Html.ValidationMessageFor(user=>user.imgFile,"",new { @class ="text-danger" })
            <br />
            <div style="border:1px dashed black;padding:5px;width:30%;padding:10px;">
                <img id="imageDisplay" src="~/user_images/@Model.imgUrl" width="100%" height="250px" /><br>
                <label id="imageName"></label><br>
                <label id="imageSize"></label>
            </div>
            <br />
            @Html.Label("IsActive")
            <select class="form-control" name="IsActive">
                <option value="True">Aktif</option>
                <option value="False">Pasif</option>
            </select>
            <br />
            <input id="updateBtn" class="form-control btn btn-primary" type="submit" value="Update" />
        }
    </div>
</div>

<!--File Upload -->
<script>

    function changeContent() {

        var file = document.getElementById('image_file').files[0];

        document.getElementById('imageDisplay').src = window.URL.createObjectURL(file);
        document.getElementById('imageName').innerHTML = file.name;
        var btn = document.getElementById('updateBtn');
        var sizeLabel = document.getElementById('imageSize');

        if (file.size > 819200) {
            sizeLabel.innerHTML = "Cannot be more than 800 kilobytes";
            sizeLabel.style.color = "red";
            btn.disabled = true;
        } else {
            sizeLabel.innerHTML = returnFileSize(file.size);
            sizeLabel.style.color = "white";
            btn.disabled = false;
        }
    }

    //File Size
    function returnFileSize(number) {
        if (number < 1024) {
            return `${number} bytes`;
        } else if (number >= 1024 && number < 1048576) {
            return `${(number / 1024).toFixed(1)} KB`;
        } else if (number >= 1048576) {
            return `${(number / 1048576).toFixed(1)} MB`;
        }
    }
</script>