@using EntityLayer;
@using SocialMediaApp.PagedList;
@model List<PostLike>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //Pager and Search
    var pager = (Pager)ViewBag.pager;
    var searchText = ViewBag.searchText;
}
@section searchbar{
    <!-- Topbar Search -->
    <div class="search-field d-none d-md-block">
        <form asp-controller="PostLike" asp-action="PostLikeList" class="d-flex align-items-center h-100">
            <div class="input-group">
                <input type="text" class="form-control bg-transparent border-0" name="searchText" value="@searchText" placeholder="PostLike search...">
                <button class="input-group-prepend bg-transparent">
                    <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </button>
            </div>
        </form>
    </div>
}
    <div class="card">
        <div class="card-header">
            <h2>POSTLIKE</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>PostLiker</th>
                        <th>Post Creator</th>
                        <th>Like Time</th>
                        <th>IsActive</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.PostLiker.NickName</td>
                        <td>@item.Post.PostContent</td>
                        <td>@item.LikeTime.ToString().Split(" ")[1]</td>
                        @if (item.IsActive)
                        {
                            <td>Aktif</td>
                        }
                        else
                        {
                            <td>Pasif</td>
                        }
                        <td>
                            <button type="button" class="btn btn-outline-danger  text-center" data-bs-whatever="@item.PostLikeId" data-bs-toggle="modal" data-bs-target="#decisionPopup"><ion-icon name="trash-outline"></ion-icon></button>
                        </td>
                        <td><a href="/PostLike/Update/@item.PostLikeId" type="button" class="btn btn-outline-primary p-2">Update</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="text-center d-flex justify-content-start p-2">
    <a href="/PostLike/Add" class="btn btn-success"><ion-icon name="add" style="font-size:30px"></ion-icon></a>
</div>
@*SAYFALAMA*@
<div style="position:relative;">
    <div style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);">
        <partial name="PartialCustomPagerView" model="@pager" />
    </div>
</div>
<!-- Modal -->
@*#decisionPopup Model*@
<div class="modal fade" id="decisionPopup" tabindex="=-1" aria-labelledby="DeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="DeleteLabel">WARNİNG!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="delete-btn" href="" class="btn btn-success">Yes</a>
            </div>
        </div>
    </div>
</div>

@*Delete*@
<script>
    $(document).ready(function () {
        $('#decisionPopup').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var PostLikeId = button.attr('data-bs-whatever');

            var a = document.querySelector("#delete-btn");
            a.href = "/PostLike/Delete/" + PostLikeId;
        });
    });
</script>

